@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Press+Start+2P&display=swap');

.detalle-fondo{
    display: flex;
    background: url('https://rare-gallery.com/mocahbig/33242-Gamer-4k-Ultra-HD-Wallpaper.jpg') ;
    background-size: contain;
    background-attachment:fixed ;
    background-position: center;
    color: aliceblue;
}

.contenedor-detalle-general{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
}
/* -------------NOMBRE------------- */
.contenedor-detalle-nombre{
    display: flex;
    align-items: baseline;
    border: red 4px solid;
    border-radius: 20px;
    width: 480px;
    margin: 10px;
    backdrop-filter: blur(10px);
}
.detalle-nombre-titulo{
    margin-left: 20px;
}
.detalle-nombre{
    font-size: 25px;
    margin-left: 20px;
}

/* -------------PLATAFORMAS------------- */
.detalle-plataformas-titulo{
    margin-left: 20px;
}
.detalle-plataformas{
    font-size: 20px;
    margin-left: 20px;
    display: flex;
}

/* -------------RATING------------- */
.contenedor-detalle-rating{
    display: flex;
    align-items: baseline;
    border: blue 4px solid;
    border-radius: 20px;
    width: 480px;
    margin: 10px;
    backdrop-filter: blur(10px);
}
.detalle-rating-titulo{
    margin-left: 20px;
}
.detalle-rating{
    font-size: 25px;
    margin-left: 20px;
}

/* -------------GENEROS------------- */
.contenedor-detalle-generos{
    display: flex;
    align-items: baseline;
    border: greenyellow 4px solid;
    border-radius: 20px;
    width: 300px;
    backdrop-filter: blur(10px);
    margin: 10px;
}
.detalle-generos-titulo{
    margin-left: 20px;
}
.detalle-generos{
    font-size: 25px;
    margin-left: 20px;
}


/* -------------DESCRIPCION------------- */
.contenedor-detalle-descripcion{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: red 4px solid;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    width: 1400px;
    margin: 10px;
}
.detalle-descripcion-titulo{
    margin-left: 20px;
}
.detalle-descripcion{
    font-size: 20px;
    margin-left: 20px;
}


/* -------------IMAGEN------------- */

.contenedor-detalle-imagen{
    overflow: hidden;
    height: 380px;
    width: fit-content;
}
.detalle-imagen{
    border: yellow 4px solid;
    border-radius: 20px;
    min-width: 540px;
    max-width: 540px;
    min-height: 300px;
    margin-top: 10px;
    margin-left: 20px;   
    object-fit: cover;

}

/* SUBCONTENEDORES */

.subcontenedor-1-detalle{
    display: flex;
    flex-direction: column;
    margin-left: 280px;
}
.subcontenedor-3-detalle{
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 300px;
}