.contenedor-home{
    background-image: url(https://www.xtrafondos.com/descargar.php?id=8359&resolucion=1920x1080);
    height:450vh;
}

.card-home{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color: aliceblue;
}